#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_PRIOR_IDLE 100



ZMK_COMBO(tilde,   &kp TILDE,     LT1 LT2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(grave,   &kp GRAVE,     LT2 LT3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(colon,   &kp COLON,     LT3 LT4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(caret,   &kp CARET,     LM0 LM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(rbkt,    &gt_rbkt,      LM1 LM2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(lbkt,    &lt_lbkt,      LM2 LM3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(excl,    &kp EXCL,      LM3 LM4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(hash,    &kp HASH,      LB1 LB2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(at,      &kp AT,        LB2 LB3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(pipe,    &kp PIPE,      RT1 RT2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(bslh,    &kp BSLH,      RT2 RT3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(dollar,  &kp DOLLAR,    RM0 RM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(lpar,    &lpar_brc,     RM1 RM2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(rpar,    &rpar_brc,     RM2 RM3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(prct,    &kp PRCNT,     RB1 RB2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(amps,    &kp AMPS,      RB2 RB3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(star,    &kp STAR,      RB3 RB4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(caps_word, &caps_word,  LM1 RM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(num_word,  &num_word,   LM0 RM0,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

// one shot layer to misc
ZMK_COMBO(misc_layer,  &sl MISC,  LB4 RB4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)