#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_PRIOR_IDLE 100

// parenthesis
ZMK_COMBO(lpar,   &kp LPAR,       LM2 LM3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(rpar,   &kp RPAR,       RM2 RM3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

// curly bracket
ZMK_COMBO(lbrc,   &kp LBRC,       LM1 LM2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(rbrc,   &kp RBRC,       RM1 RM2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

// square bracket
ZMK_COMBO(lbkt,   &kp LBKT,       LM3 LM4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(rbkt,   &kp RBKT,       RM3 RM4,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(tilde,   &kp TILDE,     LT1 LT2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(grave,   &kp GRAVE,     LT2 LT3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(pipe,    &kp PIPE,      RT1 RT2,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(bslh,    &kp BSLH,      RT2 RT3,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(caret,   &kp CARET,     LM0 LM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(dollar,  &kp DOLLAR,    RM0 RM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)

ZMK_COMBO(caps_word, &caps_word,  LM1 RM1,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)
ZMK_COMBO(num_word,  &num_word,   LM0 RM0,     BASE, COMBO_TERM_FAST, COMBO_PRIOR_IDLE)