

&lt {
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "balanced";
    require-prior-idle-ms = <150>;
};

&sl {
    ignore-modifiers;
}


&caps_word { 
    continue-list = <
        UNDERSCORE MINUS 
        BACKSPACE DELETE 
        LCTRL LALT LGUI LSHFT
        RCTRL RALT RGUI RSHFT
    >; 

    /delete-property/ ignore-modifiers;
};

&num_word {
    layers = <NUM>;
    continue-list = <
        BACKSPACE DELETE DOT COMMA
        SLASH ASTERISK PLUS MINUS EQUAL DOLLAR
    >;
    ignore-modifiers;  // modifiers don't deactivate the layer
};