

&lt {
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};


//&mt {
//    require-prior-idle-ms = <125>;
//    tapping-term-ms = <180>;
//    hold-while-undecided;
//};

&caps_word { 
    continue-list = <
        UNDERSCORE MINUS 
        BACKSPACE DELETE 
        LCTRL LALT LGUI LSHFT
        RCTRL RALT RGUI RSHFT
    >; 

    #ifdef HAS_UROB
        /delete-property/ ignore-modifiers;
    #endif
};

#ifdef HAS_UROB
    &num_word {
        layers = 1;
        continue-list = <
            BACKSPACE DELETE DOT COMMA
            SLASH ASTERISK PLUS MINUS EQUAL DOLLAR
            RS(SPACE)
        >;
        ignore-modifiers;  // modifiers don't deactivate the layer
    };
#endif