

&lt {
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "balanced";
    require-prior-idle-ms = <150>;
};

&caps_word { 
    continue-list = <
        UNDERSCORE MINUS 
        BACKSPACE DELETE 
        LCTRL LALT LGUI LSHFT
        RCTRL RALT RGUI RSHFT
    >; 

    #ifdef HAS_UROB
        /delete-property/ ignore-modifiers;
    #endif
};

#ifdef HAS_UROB
    &num_word {
        layers = <NUM>;
        continue-list = <
            BACKSPACE DELETE DOT COMMA
            SLASH ASTERISK PLUS MINUS EQUAL DOLLAR
        >;
        ignore-modifiers;  // modifiers don't deactivate the layer
    };
#endif