/* source keypos definitions */
#include "zmk-helpers/key-labels/42.h"


#define X_LT  &none // top row, left
#define X_LM  &none // middle row, left
#define X_LB  &none // bottom row, left
#define X_LH  &none // thumb row, left

#define X_MT  &none // top row, middle
#define X_MM  &none // middle row, middle
#define X_MB  &none // bottom row, middle
#define X_MH  &none // thumb row, middle

#define X_LT  &none // top row, right
#define X_LM  &none // middle row, right
#define X_LB  &none // bottom row, right
#define X_LH  &none // thumb row, right


/* Enable keymap features that require forks */
#define HAS_UROB

/* source the main keymap */
#include "base.keymap"

